{% extends 'base.jinja2' %}

{% block subtitle %}Delete Donor{% endblock subtitle %}

{% block content %}
<form method="POST">
    <!--TODO: Fill in the task creation form -->
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name-input">Name:</label><input id="name-input" type="text" name="name">
    <input type="submit" value="Delete Donor">
</form>
{% endblock content %}
