{% extends 'base.jinja2' %}

{% block subtitle %}Donors{% endblock subtitle %}

{% block content %}
<ul>
    {% for donor in donors %}
        <li><b>{{ donor.name }}</li>
    {% endfor %}
</ul>
{% endblock content %}
