{% extends 'base.jinja2' %}

{% block subtitle %}Statistics{% endblock subtitle %}

{% block content %}
<ul>
    {% for result in report %}
        <li><b>{{ result.name }}</b> <b>Num:</b>  {{ result.number }} <b>Total:</b>  {{ result.total }} <b>Avg:</b>  {{ result.avg }}</li>
    {% endfor %}
</ul>
{% endblock content %}
